# Auto detect text files and perform LF normalization
* text=auto

# exclude .gitignore and similar from the generated tarball
.git* export-ignore

# exclude Source files from the release
Source/ export-ignore
