<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
  
	<!-- Setting Titles -->
	<ISF_Settings_Category>It's Sorcery!</ISF_Settings_Category>
	<ISF_Settings_Schema>SorcerySchema</ISF_Settings_Schema>
	<ISF_Settings_Energy>EnergyTracker</ISF_Settings_Energy>
	<ISF_Settings_Learning>LearningTracker</ISF_Settings_Learning>
	<ISF_Settings_Progress>ProgressTracker</ISF_Settings_Progress>
	
	<!-- SorcerySchema -->
	<ISF_Settings_SchemaShowEnergyBars>Show energy bar(s)</ISF_Settings_SchemaShowEnergyBars>
	<ISF_Settings_SchemaShowEnergyBarsDesc>Toggle if the Schema ITab will show energy bars for each SorcerySchema.</ISF_Settings_SchemaShowEnergyBarsDesc>
	<ISF_Settings_SchemaShowSkillPoints>Show remaining skill points</ISF_Settings_SchemaShowSkillPoints>
	<ISF_Settings_SchemaShowSkillPointsDesc>Toggle if the Schema ITab will show available skill points for each SorcerySchema.</ISF_Settings_SchemaShowSkillPointsDesc>
	
	<!-- EnergyTracker -->
	<ISF_Settings_EnergyStatCacheTicks>Avg stat value cache period: {0} ticks</ISF_Settings_EnergyStatCacheTicks>
	<ISF_Settings_EnergyStatCacheTicksDesc>Set how long stat values are cached within the EnergyTracker on average. Shorter periods are more performance intensive.</ISF_Settings_EnergyStatCacheTicksDesc>
	
	<!-- ProgressTracker -->
	<ISF_Settings_ProgressShowXPMotes>Show EXP motes</ISF_Settings_ProgressShowXPMotes>
	<ISF_Settings_ProgressShowXPMotesDesc>Toggle if certain ProgressEXPWorkers will throw motes displaying EXP gain.</ISF_Settings_ProgressShowXPMotesDesc>
	<ISF_Settings_ProgressShowViewProspectsNum>View in Prospects: {0} levels</ISF_Settings_ProgressShowViewProspectsNum>
	<ISF_Settings_ProgressShowViewProspectsNumDesc>Set how many levels in the future a LearningTracker_Progress tab will show.</ISF_Settings_ProgressShowViewProspectsNumDesc>
	
	<!-- Default -->
	<ISF_Settings_Default>Reset to default</ISF_Settings_Default>
	<ISF_Settings_DefaultGlobal>Reset to global default</ISF_Settings_DefaultGlobal>
	
	<!-- General -->
	<ISF_Settings_GeneralPresets>Presets</ISF_Settings_GeneralPresets>
	<ISF_Settings_GeneralPerf>Performance</ISF_Settings_GeneralPerf>
	<ISF_Settings_GeneralDefault>Default</ISF_Settings_GeneralDefault>
	<ISF_Settings_GeneralHigh>High</ISF_Settings_GeneralHigh>
	
	<ISF_Settings_GeneralShowDebug>Show It's Sorcery! debug logs</ISF_Settings_GeneralShowDebug>
	<ISF_Settings_GeneralShowDebugDesc>Toggle to show useful log message information. Intended for modders.</ISF_Settings_GeneralShowDebugDesc>
	
	<!-- Placeholder -->
	<ISF_Settings_None>No settings at the moment.</ISF_Settings_None>
	
</LanguageData>